#id_short_raw {
    height: 150px;
}

#markItUpId_short_raw .markItUpPreviewFrame {
    height: 150px;
}

#id_description_raw {
    height: 400px;
}

#markItUpId_description_raw .markItUpPreviewFrame {
    height: 400px;
}
