
.articles-block {
    padding-top: 40px;
    width: 80%;
    float: left;
}


.articles-block .articles-languages {
    padding: 0 0 7 20px;
    overflow: hidden;
    padding-bottom: 20px;
    padding-left: 15px;
    margin-left: 10px;
    margin: 0 0 20px 40px;
}

.articles-block .articles-languages .language-link,
.articles-block .articles-languages .all-languages-link
{
    padding: 5px;
    float: left;
    background: #F8DEAB;
    margin-right: 15px;
    border-radius: 5px;
}

.articles-block .articles-languages .active {
    background: #adf770;
}

.articles-block .articles-languages .all-languages-link {
    background: #cef7af;
}


.articles-block .articles-languages .language-link a {
    text-decoration: none;
}


.articles-list {
    width: 100%;
}

.article-item {
    position: relative;
    padding-left: 40px;
    zoom: 1; /* IE fix */
    margin-bottom: 40px;
}

.article-item .item-date-block {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 100px;
    background: #707070;
    border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
}

.article-item .item-date-block .binary-date {
    padding: 5px;
    width: 30px;
}

.article-item .item-date-block .binary-date .day-line,
.article-item .item-date-block .binary-date .month-line,
.article-item .item-date-block .binary-date .year-line {
    height: 6px;
    background: #707070 url("../../img/pages/articles/bclock_0.png") left top repeat;
}

.article-item .item-date-block .binary-date .day-line span,
.article-item .item-date-block .binary-date .month-line span,
.article-item .item-date-block .binary-date .year-line span {
    display: block;
    width: 6px;
    height: 6px;
    font-size: 1px; /* IE6 fix */
    float: right;
}

.article-item .item-date-block .binary-date .day-line span.bit-1,
.article-item .item-date-block .binary-date .month-line span.bit-1,
.article-item .item-date-block .binary-date .year-line span.bit-1 {
    background: #707070 url("../../img/pages/articles/bclock_1.png") left top no-repeat;
}

.article-item .item-date-block .formatted-date {
    text-align: center;
    padding-top: 2px;
}

.article-item .item-date-block .formatted-date span {
    display: block;
}

.article-item .item-date-block .formatted-date span.date-day {
    font-size: 24px;
    line-height: 18px;
}

.article-item .item-date-block .formatted-date span.date-month {
    font-size: 14px;
}

.article-item .item-date-block .formatted-date span.date-year {
    font-size: 12px;
}

.article-item .item-date-block .formatted-date span.date-time {
    font-size: 10px;
}

.article-item .commands {
    position: absolute;
    left: -30px;
    top: 110px;
}

.article-item .item-command {
    background: #4E4D45;
    padding: 6px;
    border-radius: 6px 0px 0px 6px;
    min-width: 32px;
    text-align: center;
    margin-top: 10px;
    box-shadow: 1px 1px 3px lightgray;
    width: 57px;
}

.article-item .item-command:hover {
    box-shadow: 1px 1px 5px orange;
}

.article-item .item-command a {
    color: lightgray;
    text-decoration: none;
    font-size: 13px;
    text-shadow: 1px 1px 1px #020202;
}


.article-item .article-item-block {
    overflow: hidden;
    background-color: #FFFFFF;
}

.article-item-block .min-height {
    float: left;
    width: 0;
    height: 130px;
}

.article-item-block .article-content {
    overflow: hidden;
    padding: 20px 40px 30px;
}

.article-item-block .article-content h2.article-title {
    color: #2173FC;
    font-size: 36px;
    margin-bottom: 10px;
}

.article-item-block .article-content h2.article-lang {
    color: #D6964E;
    font-size: 18px;
    float: left;
    margin-right: 12px;
    background: none repeat scroll 0 0 #DCDCDC;
    padding: 3px;
    border-radius: 5px;
    margin-top: 10px;
}


.article-item-block .article-content h2.article-title a {
    text-decoration: none;
}

.article-item-block .article-content h2.article-title a:hover {
    text-decoration: underline;
}

.article-item-block .article-content h1.article-title {
    color: #2173FC;
    font-size: 36px;
    margin-bottom: 10px;
}

.article-item-block .article-content h1.article-title a {
    color: #2173FC;
}

.article-item-block .article-content .article-title .category,
.article-item-block .article-content .article-title .category a {
    color: #c3c4c6;
}

.article-item-block .article-short {
    position: relative;
}

.article-bottom-block {
    overflow: hidden;
}
.article-bottom-block .article-undercut {
    margin-top: 32px;
    margin-bottom: 5px;
    float: left;
    font-size: 14px;
}

.article-bottom-block .item-authors .authors-title {
    margin-top: 35px;
    margin-bottom: 5px;
    float: left;
    color: gray;
    margin-right: 10px;
}

.article-bottom-block .item-authors {
    /*position: absolute;*/
    /*left: -75px;*/
    /*top: 210px;*/
    float: right;
}

.article-bottom-block .item-author-block {
    /*position: absolute;*/
    /*left: -30px;*/
    /*top: 210px;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 100%;*/
    /*background: #707070;*/
    padding: 4px;
    /*border-radius: 0 0 6px 6px;*/
    /*-moz-border-radius: 0 0 6px 6px;*/
    /*-webkit-border-radius: 0 0 6px 6px;*/
    /*min-width: 32px;*/
    text-align: right;
    /*width: 100px;*/
    /*overflow: hidden;*/
    float:left;
}

.article-bottom-block .item-author-block .item-author-photo {
    /*position: absolute;*/
    margin-top: 10px;
    box-shadow: 1px 1px 3px lightgray;
    /*width: 57px;*/

    /*left: 0;*/
    /*bottom: 100%;*/
    width: 50px;
    height: 50px;
    padding: 4px;
    background: #707070;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    /*float: right;*/
}

.article-bottom-block .item-author-block .item-author-photo img {
    vertical-align: middle;
}

.article-bottom-block .item-author-block .item-author-title {
    color: white;
    text-decoration: none;
    border-bottom: 1px dashed white;
    /*float: right;*/
    margin-top: 5px;
}

.article-bottom-block .item-author-block .item-author-title:hover {
    border-bottom: none;
}


/* Article translations */
.article-translations {

}

.article-translations .translation-item {
    background-color: #DDDDDD;
    padding: 3px;

}


.article-translations .translation-item span {
    color: #01317D;
}


.article-translations .last-item {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.article-translations .translation-lang {

}

.article-translations .translation-title {

}


.article-translations .translation-date {

}

.article-translations .type-original {

}

.article-translations .type-translation {

}

.article-translations .translation-author {

}



/* Details */
.article-details {
    padding-top: 40px;
}

.article-item-block .article-uncut {
    padding-top: 10px;
    position: relative;
}

.article-info {
    float: left;
    padding-top: 10px;
    padding-bottom: 7px;
    border-bottom: 1px solid #fcf0e2;
    border-top: 1px solid #fcf0e2;
    width: 100%;
    margin-bottom: 20px;
}

.article-info .article-category {
    float: left;
    margin-top: -3px;
    margin-right: 10px;
    color: gray;
    font-size: 18px;
}

.article-info .article-category a {
    color: #FF9C00;
    font-size: 18px;
}

.article-info .article-tags {
    float: left;
    margin-top: 2px;
    margin-right: 20px;
}

.article-info .article-tags a {
    padding: 2px 6px 3px 6px;
    background: #008AB8;
    color: white;
    border-radius: 3px;
    text-decoration: none;
}

.article-info .article-tags a:hover {
    text-shadow: 0px 0px 1px white;
}

.article-info .article-likes {
    float: right;
}

.article-info .article-likes .social-connection {
    float: right;
}

.article-info .article-likes .linkedin {
    margin-left: 0px;
}

.article-info .article-likes .facebook {
    margin-left: 15px;
}

/*------------------------------------- Control panel --------------------------------*/
.articles-block .preview-articles {
    margin-left: 80px;
    overflow: hidden;
}

.articles-block .preview-articles h4 {
    color: gray;
    font-size: 32px;
    margin-bottom: 15px;
    text-shadow: 1px 1px 0 black;
    margin-top: 15px;
}


.articles-block .preview-articles .short-link {
    font-size: 14px;
    color: lightgray;
    margin-bottom: 15px;
    display: block;
    margin-left: 20px;
    text-shadow: 1px 1px 0 black;
}


/*------------------------------------- RSS --------------------------------*/
.articles-rss {
    float: left;
    width: 185px;
    padding-top: 40px;
    margin-left: 45px;
}

.articles-rss-img {
    float: left;
    margin-right: 8px;
    margin-top: 3px;
}

.articles-rss-link {
    font-size: 15px;
}


/*------------------------------------- Control panel --------------------------------*/
.control-panel {
    float: right;
    width: 185px;
    padding-top: 40px;
    margin-left: 45px;
}

.control-panel .filter {
    /*overflow: hidden;*/
}

.control-panel h3 {
    color: gray;
    font-size: 32px;
    text-shadow: 1px 1px 0 black;
    margin-bottom: 15px;
    float: left;
}

.control-panel .filter .all {
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}

.current-filters {
    background: #787669;
    padding: 15px;
    margin-bottom: 25px;
    width: 185px;
    border-radius: 10px;
}

.current-filters h3 {
    color: orange;
    border-radius: 8px;
}

.current-filters a {
    font-size: 15px;
    color: #78ACFF;
}

.current-filters .clear {
    margin-bottom: 15px;
}

.current-filters li.remove-filter {
    width: 100%;
    overflow: hidden;
}

.current-filters .remove-filter-img {
    margin-right: 8px;
    margin-top: 3px;
    float: left;
}

.current-filters.remove-filter-img img {
    vertical-align: middle;
}

.control-panel .categories {
    margin-bottom: 20px;
    float: left;
}

.control-panel .categories li {
    padding: 5px;
}

.control-panel .categories li.selected {
}

.control-panel .categories li .button {
    margin-top: 6px;
    width: 7px;
    height: 7px;
    border-radius: 7px 0px 0 7px;
    background: #5d5d5d;
    border: 2px solid gray;
    float: left;
    margin-right: 10px;
}

.control-panel .categories li:hover .button {
    box-shadow: 0px 0px 2px 2px orange;
    border: 2px solid white;
}

.control-panel .categories li.selected .button {
    background: orange;
    box-shadow: 0px 0px 2px 2px orange;
    border: 2px solid white;
    width: 20px;
    margin-left: -13px;
}

.control-panel .categories li a {
    color: #FF9C00;
    font-size: 18px;
    text-decoration: none;
}

.control-panel .categories li a:hover {
    text-shadow: 0px 0px 1px #ff4500;
}

.control-panel .categories li.disabled a {
    color: gray;
}

.control-panel .author {
    margin-left: 10px;
    margin-bottom: 20px;
    float: left;
}

.control-panel .author .author-photo {
    float: left;
    margin-right: 15px;
}

.control-panel .author .title {
    float: left;
    margin-top: 25px;
    color: orange;
}

.control-panel .author img {
    border: 1px solid gray;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px 1px white;
    float: left;
}


.control-panel .tag-cloud {
    margin-left: 5px;
}

.control-panel .tag-cloud a {
    padding: 4px 5px 5px 5px;
    /*padding: 2px 6px 3px 6px;*/
    background: #008AB8;
    color: white;
    border-radius: 3px;
    text-decoration: none;
    margin-bottom: 10px;
    margin-right: 5px;
    display: block;
    float: left;
    border: 2px solid gray;
    font-weight: bold;
    font-size: 11px;
}

.control-panel .tag-cloud a:hover {
    box-shadow: 0px 0px 2px 2px orange;
}

.control-panel .tag-cloud a.selected {
    background: white;
    color: #008AB8;
    box-shadow: 0px 0px 2px 2px orange;
}

.control-panel .tag-cloud a.disabled {
    background: #383737;
    color: gray;
    border: 2px solid black;
}




