.profiles {
    overflow: hidden;
    text-align: center;
    margin-top: 20px;

}

.profile {
    margin: 0px 20px 0px 0px;
    width: 100px;
    float: left;
    padding: 10px;
}

.profile img {
    float: left;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 1px white;
}

.profile img:hover {
    box-shadow: 0px 0px 10px 5px orange;
}


.profile h2 a {
    color: #FF9C00;
    font-size: 18px;
    margin: 10px 0 10px 0;
    text-shadow: 1px 1px 0 black;
    float: left;
    text-decoration: none;
    width:100%;
    text-align: center;
}

.profile h2 a:hover {
    color: #FF9C00;
    font-size: 18px;
    margin: 10px 0 10px 0;
    text-shadow: 1px 1px 0 black;
    float: left;
    text-decoration: underline;
}


/*

.profile div {
    width: 200px;
    float: left;
    margin-left: 20px;
}

.profile div h2 {
    color: #FF9C00;
    font-size: 32px;
    margin: 0 0 20px 0;
    text-shadow: 1px 1px 0 black;
}


.profile div p {

}


*/
