<div class="site-footer">
    <div class="footer-block">
        <div class="bottom-menu">
            <h2>Blog</h2>
            <ul>
                <li><a href="/">Articles</a></li>
                <li><a href="/users/">Authors</a></li>
                <li><a href="/tags/">Tags</a></li>
            </ul>
        </div>
        {% if request.user.is_authenticated %}
            <div class="bottom-menu">
                <h2>My</h2>
                <ul>
                    <li><a href="/articles/add/">Write article</a></li>
                    <li><a href="/users/{{ request.user.username }}/">Profile</a></li>
                    <li><a href="/users/{{ request.user.username }}/creative/">Creative</a></li>
                    {#<li><a href="/users/{{ request.user.username }}/marked/">Favorites</a></li>#}
                </ul>
            </div>
        {% endif %}

        <div class="footer-copyright">
           &copy; 2011 <a href="http://webriders.com.ua/">WebRiders Studio</a>
        </div>

        <div class="clear"></div>  <!-- IE6 fix -->
    </div>
</div>