{% extends 'abstract/base.html' %}

{% block title %} 500 / PROGRESSORS {% endblock %}


{% block css %}
    {#    <link rel="stylesheet" href="/static/pygments/css/default.css" />#}
{% endblock css %}

{% block script %}
{% endblock %}

{% block content %}
    <div>
        <h1>500</h1>
        <h4>Internal server error. We will fix it in the near future.</h4>

        <p>You can go to:
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/users/">List of authors</a></li>
                <li><a href="/tags/"> List of tags</a></li>
            </ul>
        </p>
        <p>Sincerely, administration of Progressors.org.ua. </p>
    </div>
{% endblock %}


