{% extends 'abstract/base.html' %}

{% block title %} Теги / PROGRESSORS {% endblock %}

{% block meta_keywords %}
    <meta name="title" content="Teги / PROGRESSORS"/>
    {% include "include/common_meta_tags.html" %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/techblog/css/pages/articles.css" />
    <link rel="stylesheet" href="/static/pygments/css/highlight_native.css" />
{% endblock css %}

{% block content %}
    <div>
        {% if tags_list %}

            {% for tag in tags_list %}
                {% if tag.tagged_count %}
                    <div><a href="/?tags={{ tag }} ">{{ tag }} ({{ tag.tagged_count }})</a>  </div>
                {% endif %}
            {% endfor %}

        {% else %}
            Нет ни одного тега.
        {% endif %}
    </div>
{% endblock content %}