{% extends 'abstract/base.html' %}

{% block title %} Tags / PROGRESSORS {% endblock %}

{% block meta_keywords %}
    <meta name="title" content="Tags / PROGRESSORS"/>
    {% include "include/common_meta_tags.html" %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/techblog/css/pages/tags.css" />
    <link rel="stylesheet" href="/static/pygments/css/highlight_native.css" />
{% endblock css %}

{% block content %}
    <div class="tags">
        {% if categories %}
            {% for category in categories %}
                {% if not category.empty %}
                    <h2><a href="/?category={{ category.slug }}&all_tags=1">{{ category.title }} ({{ category.count }})</a></h2>

                    <div class="tag-cloud">
                        {% for tag in category.tags %}
                            <a href="/?tags={{ tag }}&category={{ category.slug }}&all_own=1">
                                {{ tag.name }} ({{ tag.count }})
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            There are no tags.
        {% endif %}
    </div>
{% endblock content %}