
.article-comments {

}

.article-comments .comment-author a{
    color: #23b923;
    font-size: 14px;
}

.article-comments .comment-date {
    color: #daa520;
}

.article-comments .comment-body {
    font-size: 14px;
}

.article-comments .showCommentLink {

}

.article-comments .comment-form {
    
}



