
.comments-title {
    font-size: 22px;
    margin-left: 40px;
    color: #FF9C00;
    margin-bottom: 25px;
}

.article-comments-teee li {
    margin-left: 40px;
}

.article-comments-teee ul, .article-comments-teee li {
    margin-top: 12px;
}

#bottom-comment-form {
    margin: 20px;
    margin-left: 30px;
}


.article-comment {
    background: none repeat scroll 0 0 #666666;
    border-radius: 6px 6px 6px 6px;
    padding: 8px;
}

.article-comment .comment-author a {
    color: #f5f5f5;
    font-size: 14px;
}

.article-comment img {
    vertical-align: middle;
}

.article-comment .comment-date {
    color: #daa520;
}

.article-comment .comment-body {
    font-size: 14px;
    color: #ffffff;
}

.article-comment .replyLink {
    margin-top: 10px;
}

.comment-form textarea {
    width: 400px;
    height: 200px;
    line-height: 14px;
    font-size: 14px;
    font-family: Tahoma,sans-serif;
    padding: 2px;
    margin: 5px;
    border-width: 4px;
    border-style: solid;
    border-color: #45443c #707070 #707070 #45443c;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #ffffff;
}

.comment-form textarea:focus {
    border-color: #ff9900;
    box-shadow: 0 0 5px #ff9900;
    -moz-box-shadow: 0 0 10px #ff9900;
    -webkit-box-shadow: 0 0 10px #ff9900;
}


p.submit input {
    margin-left: 5px;
}

