<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>markItUp! preview template</title>
<link href="/static/techblog/css/content_styles.css" rel="stylesheet">
<link href="/static/techblog/css/pages/articles.css" rel="stylesheet">
</head>
<body>

{% load user_avatar %}

<div class="preview-article-item">
    <div class="article-block">
        <div class="article-content">
            <div class="article-short rich-content">
                {{ rendered_data|safe }}
            </div>
        </div>
    </div>
</div>



</body>
</html>
