{% extends "mail/base_mail.html" %}

{% block mail_body %}
    User <a href="{{ site_url }}/users/{{ comment.user }}/">{{ comment.user }}</a> post

    {% if comment.parent %}
        <a href="{{ site_url }}/articles/{{ comment.object_pk }}/#comment_{{ comment.id }}"> an answer</a>
        <div>
            <div style="border-left: 2px solid #6e0505; margin: 5px; padding-left: 5px">
                {{ comment.parent.comment|linebreaks|urlize }}
            </div>
        </div>

        to <a href="{{ site_url }}/users/{{ comment.parent.object_pk }}/#comment_{{ comment.parent.id }}"> comment</a>
        of user <a href="{{ site_url }}/users/{{ comment.parent.user }}/">{{ comment.parent.user }}</a>

        <div>
            <div style="border-left: 2px solid #6e0505; margin: 5px; padding-left: 5px">
                {{ comment.comment|linebreaks|urlize }}
            </div>
        </div>

    {% else %}

        <a href="{{ site_url }}/articles/{{ comment.object_pk }}/#comment_{{ comment.id }}"> comment</a>
        <div>
            <div style="border-left: 2px solid #6e0505; margin: 5px; padding-left: 5px">
                {{ comment.comment|linebreaks|urlize }}
            </div>
        </div>

    {% endif %}

{% endblock %}
