{% extends 'abstract/base.html' %}

{% load user_avatar %}

{% block css %}
    <link rel="stylesheet" href="/static/techblog/css/big_forms.css" />
{% endblock css %}

{% block content %}

    {% if is_authenticated %}

         <h1 class="big-form-title">Редактирование профиля</h1>

         <form enctype="multipart/form-data" method="post" class="big-form">
            <dl>
                {% for field in UserForm %}
                    <dt>{{ field.label_tag }}</dt>
                    <dd>
                        {{ field }}
                        {% if field.help_text %}
                            <div class="hint">{{ field.help_text }}</div>
                        {% endif %}
                        {% if field.errors %}
                            <div class="myerrors">{{ field.errors }}</div>
                        {% endif %}
                    </dd>
                {% endfor %}
                {% for field in UserProfileForm %}
                    {% if field.name == 'avatar' %}
                        <dt>{{ field.label_tag }}</dt>
                        <dd>
                            <img src="/media/{{ field.value }}" width="150"/>
                            <div class="change-avatar">
                                <label for="avatar-clear_id">Очистить:</label>
                                <input id="avatar-clear_id" type="checkbox" name="avatar-clear">
                                <br/>
                                <br/>
                                <label for="id_avatar">Изменить:</label>
                                <input id="id_avatar" type="file" name="avatar">
                            </div>
                            <div class="clear"></div>
                        </dd>
                    {% else %}
                        <dt>{{ field.label_tag }}</dt>
                        <dd>

                            {{ field }}
                            {% if field.help_text %}
                                <div class="hint">{{ field.help_text }}</div>
                            {% endif %}
                            {% if field.errors %}
                                <div class="myerrors">{{ field.errors }}</div>
                            {% endif %}
                        </dd>
                    {% endif %}
                {% endfor %}
            </dl>
            <input type="submit" class="submit-form" value="Сохранить" />
        </form>

    {% else %}
        <p> Вы не залогинены! </p>
        <p> <a href="/accounts/login/"> Login </a> </p>
    {% endif %}

{% endblock %}