{% extends 'abstract/base.html' %}

{% load user_avatar %}


{% block title %} {{ profile.user.get_full_name }} / Authors / PROGRESSORS {% endblock %}

{% block meta_keywords %}
    <meta name="title" content="Authors / PROGRESSORS"/>
    {% include "include/common_meta_tags.html" %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/techblog/css/pages/users.css" />
{#    <link rel="stylesheet" href="/static/pygments/css/default.css" />#}
{% endblock css %}

{% block script %}
{% endblock %}


{% block content %}
    <div class="profile-details">
        {% if profile %}
            {% with profile.user as p_user %}
                <div class="title-block">
                    <h1><span>User profile:</span> {{ p_user.get_full_name }} </h1>
                </div>

                <div class="avatar-block">
                    {% user_avatar p_user 300 %}
                </div>

                <div class="information-block">
                    <div class="profile-controls">
                        {% if  profile.get_articles_count %}
                            <a href="/?author={{ p_user.id }}&clear_all=1">Articles ({{ profile.get_articles_count }})</a>
                        {% endif %}

                        {% if edit_allowed %}
                            <a href="/profile/edit/">Edit</a>
                        {% endif %}
                    </div>
                    <div class="clear"></div>

                    <div class="user-info">
                        {% if p_user.username %}
                            <p><span>Nickname:</span> {{ p_user.username }}</p>
                        {% endif %}

                        {% if p_user.get_full_name %}
                            <p><span>Name:</span> {{ p_user.get_full_name }}</p>
                        {% endif %}

                        {% if profile.gender %}
                            <p><span>Gender:</span> {{ profile.get_gender_display }}</p>
                        {% endif %}

                        {% if profile.birth_date %}
                            <p><span>Birthday:</span> {{ profile.birth_date }}</p>
                        {% endif %}

                        {% if profile.about_me %}
                            <p><span>About me:</span></p>
                            <span class="about-me">{{ profile.about_me|linebreaks|urlize }}</span>
                        {% endif %}
                    </div>

                    <div class="user-dates">
                        <p>Registered: {{ p_user.date_joined }} </p>
                        <p>Last activity: {{ p_user.last_login }} </p>
                    </div>
                </div>
            {% endwith %}
        {% else %}
            {% if not user.is_authenticated %}
                Profile not found!
            {% else %}
                <p> You are not logged in! </p>
                <p><a href="/accounts/login/"> Login </a></p>
            {% endif %}
        {% endif %}

    </div>
{% endblock %}