{% extends 'abstract/base.html' %}

{% load user_avatar %}

{% block content %}

    {% with profile.user as user %}
        <h1>Профиль пользователя {{ user.first_name|capfirst }} {{ user.last_name|capfirst }} </h1>

        {% user_avatar profile.user 128 %}
    
        {% if profile.gender %}
            <p>Пол: {{ profile.get_gender_display }}</p>
        {% endif %}

        {% if profile.birth_date %}
            <p>Дата рождения: {{ profile.birth_date }}</p>
        {% endif %}

        {% if  profile.get_articles_count %}
            <p> <a href="/?author={{ profile.id }}">Статьи</a> </p>
        {% endif %}

        <p>Зарегистрирован: {{ user.date_joined }} </p>

        <p>Последняя активность: {{ user.last_login }} </p>

        {% if edit_allowed %}
            <p><a href="/profile/edit/">РЕДАКТТРОВАТЬ</a> </p>
        {% endif %}

    {% endwith %}


{% endblock %}