{% load user_avatar %}

<div class="profile">
    {% with profile.user as p_user %}
        <a href="/users/{{ p_user.username }}/">{% user_avatar p_user 100 %}</a>
        <h2>
            <a href="/users/{{ p_user.username }}/">
            {% if p_user.first_name %}
                {{ p_user.first_name|capfirst }} {{ p_user.last_name|capfirst }}
            {% else %}
                {{ p_user.username }}
            {% endif %}
            </a>
        </h2>
    {% endwith %}
</div>

