{% load user_avatar %}

<div>
    {% with profile.user as user %}
        {% user_avatar user 64 %}
        <h1>{{ user.first_name|capfirst }} {{ user.last_name|capfirst }} </h1>

        {% if profile.gender %}
            <p>Пол: {{ profile.get_gender_display }}</p>
        {% endif %}

        {% if profile.birth_date %}
            <p>Дата рождения: {{ profile.birth_date }}</p>
        {% endif %}

        {% if profile.get_articles_count %}
            <p> <a href="/?author={{ profile.id }}">Статьи</a> </p>
        {% endif %}

        <p> <a href="/users/{{ user.username }}/">Профиль пользователя</a> </p>

    {% endwith %}
</div>

