{% extends 'abstract/base.html' %}

{% block title %} Авторы / PROGRESSORS {% endblock %}

{% block meta_keywords %}
    <meta name="title" content="Авторы / PROGRESSORS"/>
    {% include "include/common_meta_tags.html" %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/techblog/css/pages/users.css" />
{#    <link rel="stylesheet" href="/static/pygments/css/default.css" />#}
{% endblock css %}

{% block script %}
{% endblock %}

{% block content %}
    <div class="profiles">
        {% for profile in user_profiles %}
            {% if profile.visible %}
                {% include 'users/userprofile_item.html' %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}