{% extends 'abstract/base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/techblog/css/big_forms.css"/>
    <link rel="stylesheet" href="/static/techblog/css/pages/add_or_edit_article.css"/>
    <link rel="stylesheet" href="/static/pygments/css/highlight_native.css"/>
{% endblock css %}

{% block media %}
    {{ form.media }}
{% endblock media %}

{% block content %}
    {% if user.is_authenticated %}
        {% if edit_allowed %}
            <h1 class="big-form-title">Article</h1>

            {% include 'articles/article_edit_form.html' %}

        {% else %}
            <h1 class="big-form-title">Cheating?</h1>
            <div class="big-form-text">
                You are trying to edit someone else's article! We have it banned!
            </div>
        {% endif %}
    {% else %}
        <h1 class="big-form-title">Authorize</h1>
        <div class="big-form-text">
            You are not logged in and can't work with the articles. <a href="{% url auth_login %}">Login</a> and get those rights.
        </div>
    {% endif %}
{% endblock content %}