{% load user_avatar %}

<div class="article-item">
    <div class="item-date-block">
        <div class="binary-date">
            {{ article.binary_date|safe }}
        </div>
        <div class="formatted-date">
            {{ article.formatted_date|safe }}
        </div>
    </div>

    {% if request.user.is_authenticated %}
    <div class="commands">
        {% if request.user in article.authors.all %}
            <div class="item-command">
                <a href="{{ article.get_absolute_url }}edit/" title="Edit article">Edit</a>
            </div>
            <div class="item-command">
                {% if article.is_public %}
                    <a href="{{ article.get_absolute_url }}unpublish/" title="Move article to draft">To draft</a>
                {% else %}
                    <a href="{{ article.get_absolute_url }}publish/" title="Publish article">Publish</a>
                {% endif %}
            </div>
        {% endif %}

        {% if article.untranslated_langs %}
            <div class="item-command">
                <a href="{{ article.get_absolute_url }}translate/" title="Translate">Translate</a>
            </div>
        {% endif %}
    </div>
    {% endif %}

    <div class="article-item-block">
        <div class="min-height"></div>
        <div class="article-content">

            <h2 class="article-lang"> {{ article.lang.slug }} </h2>

            {% if sub_page == 'view_article' %}
                <h2 class="article-title">
                    {% if article.category %}
                        <span class="category" >
                            <a href="/articles/">Articles</a> &rarr;
                        </span>
                    {% endif %}
                    {{ article.title }}
                </h2>
            {% else %}
                <h2 class="article-title">
                    <a href="/articles/{{ article.id }}/">{{ article.title }}</a>
                </h2>
            {% endif %}

            {% if not article.is_original %}
                <div class="translation-link">
                    <img src="/static/techblog/img/pages/articles/arrow.png" width="20" height="6">
                    Translation for <a href="{% url view_article article_id=article.original.id  %}">{{ article.original.title }}</a>
                    ({{ article.original.lang.slug }})
                </div>
            {% endif %}

            <div class="article-info">
                {% if article.category %}
                    <div class="article-category">
                       <a href="?category={{ article.category.slug }}" title="Category: {{ article.category.title }}">{{ article.category.title }}</a> :
                    </div>
                {% endif %}
                {% with article.tags.all as article_tags %}
                    {% if article_tags %}
                        <div class="article-tags">
                            {% for tag in article_tags %}
                                <a href="/?tags={{ tag }}">{{ tag }}</a> {% if forloop.last %}{% else %}, {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <div class="article-likes">
                    {% include "articles/social_connections.html" %}
                </div>
            </div>
            <div class="clear"></div> <!-- IE6 fix -->

            <div class="article-short rich-content">
                {{ article.short|safe }}
            </div>
            {% if sub_page != 'view_article' %}
                <div class="article-bottom-block">
                    <div class="article-undercut">
                        <a href="/articles/{{ article.id }}/#undercut">Read more</a>
                    </div>
                    <div class="item-authors">
                        <div class="authors-title">
                            Authors:
                        </div>
                        {% for author in article.authors.all %}
                            <div class="item-author-block">
                                <div class="item-author-photo">
                                    <a href="/users/{{ author.username }}/">{% user_avatar author 50 %}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if sub_page == 'view_article' %}
                <a name="undercut"></a>
                <div class="article-uncut rich-content">
                    {{ article.description|safe }}
                </div>
            {% endif %}
            {% if article_mode == 'description' %}
                <div class="article-info">
                    {% with article.tags.all as article_tags %}
                        {% if article_tags %}
                            <div class="article-tags">
                                {% for tag in article_tags %}
                                    <a href="/?tags={{ tag }}">{{ tag }}</a> {% if forloop.last %}{% else %}, {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                    <div class="article-likes">
                        {% include "articles/social_connections.html" %}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="clear"></div> <!-- IE6 fix -->
    </div>

    {% with article.get_translations as translations %}
        {% if translations %}
            <div class="article-translations">
                {% for translation in translations %}
                    <div class="translation-item {% if forloop.last %}last-item{% endif %}">

                        <div class="left-block">
                            <span class="translation-lang">{{ translation.lang.slug }}</span>
                            <span class="translation-title">
                                <a href="{% url view_article article_id=translation.id %}">
                                    {{ translation.title }}
                                </a>
                            </span>
                        </div>

                        <div class="right-block">
                            <span class="translation-date">{{ translation.date|date:"d M Y H:i" }}</span>
                            {% if translation.is_original %}
                                <span class="type-original">Original</span>
                            {% else %}
                                <span class="type-translation">Translation</span>
                            {% endif %}
                            <span class="translation-authors">
                                {% for author in translation.authors.all %}
                                     <a href="{% url user_profile user_name=author.username %}">{{ author.username }}</a>
                                     {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                             </span>
                        </div>

                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

</div>

{% if sub_page == 'view_article' %}
    <h1 class="comments-title">Comments</h1>

    {% include 'articles/comment_tree.html' %}

    <a name="last_comnent"></a>

    <div id="bottom-comment-form">
        {% if user.is_authenticated %}
            {% include 'articles/comment_form.html' %}
        {% else %}
            You are not logged in and can't write comments. <a href="{% url auth_login %}">Login</a> and get those rights.
        {% endif %}
    </div>
{% endif %}
