{% extends 'abstract/base.html' %}

{% load update_filters %}

{% block title %}Progressive web-dev lives here / Articles / PROGRESSORS{% endblock %}

{% block meta_keywords %}
    <meta name="title" content="Progressive web-dev lives here / Articles / PROGRESSORS"/>
    {% include "include/common_meta_tags.html" %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/techblog/css/pages/articles.css"/>
    <link rel="stylesheet" href="/static/pygments/css/default.css"/>
{% endblock css %}

{% block script %}
    <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script type="text/javascript" src="http://platform.linkedin.com/in.js"></script>
{% endblock %}


{% block content %}

    <div class="articles-block">
        <div class="articles-languages">
             <div class="language-link all-languages-link">
                <a href="/articles/{% update_filters the_filter all_langs=1 %}">All</a>
            </div>
            {% for lang in languages %}
                <div class="language-link {% if lang.selected %}active{% endif %}">
                    <a href="/articles/{% update_filters the_filter lang=lang.slug %}">
                        {{ lang.title }}</a>
                </div>
            {% endfor %}
        </div>

        <div class="articles-list">
            {% if article_list %}
                {% for article in article_list %}
                    {% include 'articles/article_item.html' %}
                {% endfor %}
            {% else %}
                No articles found.
            {% endif %}
        </div>

        {% if preview_articles %}
            <div class="preview-articles">
                <h4>Articles in stock</h4>
                {% for article in preview_articles %}
                    <a class="short-link" href="/articles/{{ article.id }}/"> {{ article.title }} </a>
                {% endfor %}
                <h4>
                    <a href="/articles/{% update_filters the_filter page=next_page %}">Watch feed</a> &rarr;
                </h4>
            </div>
        {% endif %}
    </div>

    <div class="articles-rss">
        <div class="articles-rss-img">
            <a href="{% url rss %}">
                <img width="18" height="18" src="/static/techblog/img/common/rss.png" alt="RSS"/>
            </a>
        </div>
        <div class="articles-rss-link">
            <a href="{% url rss %}">Subscribe</a>
        </div>
    </div>

    {% include "articles/control_panel.html" %}

{% endblock content %}