{% load user_avatar %}

<div class="article-item">
    <div class="item-date-block">
        <div class="binary-date">
            {{ article.binary_date|safe }}
        </div>
        <div class="formatted-date">
            {{ article.formatted_date|safe }}
        </div>
    </div>
    {% if request.user in article.authors.all %}
        <div class="item-command">
            <a href="{{ article.get_absolute_url }}edit/" title="Редактировать статью">Edit</a>
            <br/>
            {% if article.is_public %}
                <a href="{{ article.get_absolute_url }}unpublish/" title="В черновики">To draft</a>
            {% else %}
                <a href="{{ article.get_absolute_url }}publish/" title="Опубликовать статью">Publish</a>
            {% endif %}
        </div>
    {% endif %}


    <div class="article-block">
        <div class="min-height"></div>
        <div class="article-content">
            {% if sub_page == 'view_article' %}
                <h1 class="article-title">
                    {% if article.category %}
                        <span class="category" >
                            <a href="/articles/">Статьи</a> →
                        </span>
                    {% endif %}
                    {{ article.title }}
                </h1>
            {% else %}
                <h2 class="article-title">
                    <a href="/articles/{{ article.id }}/">{{ article.title }}</a>
                </h2>
            {% endif %}
            <div class="article-info">
                {% if article.category %}
                    <div class="article-category">
                       <a href="?category={{ article.category.slug }}" title="Категория: {{ article.category.title }}">{{ article.category.title }}</a> :
                    </div>
                {% endif %}
                {% with article.tags.all as article_tags %}
                    {% if article_tags %}
                        <div class="article-tags">
                            {% for tag in article_tags %}
                                <a href="/?tags={{ tag }}">{{ tag }}</a> {% if forloop.last %}{% else %}, {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <div class="article-likes">
                    {% include "articles/social_connections.html" %}
                </div>
            </div>
            <div class="clear"></div> <!-- IE6 fix -->

            <div class="article-short rich-content">
                {{ article.short|safe }}
            </div>
            {% if article_mode == 'description' and article.description %}
                <div class="article-uncut rich-content">
                    {{ article.description|safe }}
                </div>
            {% endif %}
            {% if article_mode == 'description' %}
                <div class="article-info">
                    {% with article.tags.all as article_tags %}
                        {% if article_tags %}
                            <div class="article-tags">
                                {% for tag in article_tags %}
                                    <a href="/?tags={{ tag }}">{{ tag }}</a> {% if forloop.last %}{% else %}, {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                    <div class="article-likes">
                        {% include "articles/social_connections.html" %}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="clear"></div> <!-- IE6 fix -->
    </div>

    {% with article.author as user %}
        <div class="item-author-block">
            <div class="item-author-photo">
                <a href="/users/{{ user.username }}/">{% user_avatar user 32 %}</a>
            </div>
            <a href="/users/{{ user.username }}/">{{ user.username }}</a>
        </div>
    {% endwith %}

</div>