{% extends 'abstract/base.html' %}

{% block title %}Прогрессивный web-dev живёт здесь / Статьи / PROGRESSORS {% endblock %}

{% block meta_keywords %}
    <meta name="title" content="Прогрессивный web-dev живёт здесь / Статьи / PROGRESSORS"/>
    {% include "include/common_meta_tags.html" %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/techblog/css/pages/articles.css" />
    <link rel="stylesheet" href="/static/pygments/css/default.css" />
{#    <link rel="stylesheet" href="/static/pygments/css/highlight_native.css" />#}
{% endblock css %}

{% block script %}
    <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script type="text/javascript" src="http://platform.linkedin.com/in.js"></script>
{% endblock %}


{% block content %}
    <div class="article-list">
        {% if article_list %}
{% comment %}            {% if author %}
                {% if author == user %}
                    <h1>Ваши статьи.</h1>
                {% else %}
                    <h1>Статьи написаные пользователем {{  author.first_name|capfirst }} {{ user.last_name|capfirst }}.</h1>
                {% endif %}
            {% else %}
                <h1>Все статьи</h1>
            {% endif %}

            {% if tags %}
                <h1>Теги: {{ tags }}.</h1>
            {% endif %}{% endcomment %}

            {% for article in article_list %}
                {% include 'articles/article_item.html' %}
            {% endfor %}


            {% for article in preview_articles %}
               <div> <a href="/articles/{{ article.id }}/"> {{ article }} </a> </div>
            {% endfor %}

            <br/><br/>
            <a href="/{% if own %}?own={{ own }}&page={{ next_page }}{% else %}?page={{ next_page }}{% endif %}"> Предыдущие статьи </a>

        {% else %}
            Не найдено ни одной статьи.
        {% endif %}
    </div>
    <div class="control-panel">
        {% if request.user.is_authenticated %}
            <div class="filter">
                <h3>Моё</h3>
                <a class="all" href="?all_own=1">все</a>
                <div class="clear"></div>
                <ul class="categories">
                        <li class="{% if own_articles %}selected{% endif %} {% if not own_articles_count %}disabled{% endif %}">
                            <div class="button"></div>
                            <a href="?own=articles&all_category&all_tags=1">Статьи ({{ own_articles_count }})</a>
                        </li>
                        <li class="{% if own_drafts %}selected{% endif %} {% if not own_drafts_count %}disabled{% endif %}">
                            <div class="button"></div>
                            <a href="?own=drafts&all_category&all_tags=1">Черновики ({{ own_drafts_count }})</a>
                        </li>
                </ul>
            </div>
        {% endif %}

        <div class="filter">
            <h3>Категории</h3>
            <a class="all" href="?all_category=1">все</a>
            <div class="clear"></div>

            <ul class="categories">
                {% for category in categories %}
                    {% if category.disabled %}
                        <li class="disabled">
                            <div class="button"></div>
                            <a href="?category={{ category.slug }}&all_tags=1">{{ category.title }} ({{ category.count }})</a>
                        </li>
                    {% else %}
                        <li class="{% if category.selected %}selected{% endif %}">
                            <div class="button"></div>
                            <a href="?category={{ category.slug }}">{{ category.title }} ({{ category.count }})</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="filter">
            <h3>Теги</h3>
            <a class="all" href="?all_tags=1">все</a>
            <div class="clear"></div>
            <div class="tag-cloud">
                {% for tag in tag_cloud %}
                    {% if tag.disabled %}
                        <a href="#" class="disabled">
                            {{ tag.name }} ({{ tag.count }})
                        </a>
                    {% else %}
                        <a href="?tags={{ tag.slug }}" class="{% if tag.selected %}selected{% endif %}">
                            {{ tag.name }} ({{ tag.count }})
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="clear"></div>
    !!!!!!!!!={{ the_filter.print_state }}=!!!!!!!!
    !!!!!!!!!+{{ the_filter }}+!!!!!!!!
{% endblock content %}