{% extends 'abstract/base.html' %}

{% block title %}Прогрессивный web-dev живёт здесь / Статьи / PROGRESSORS {% endblock %}

{% block meta_keywords %}
    <meta name="title" content="Прогрессивный web-dev живёт здесь / Статьи / PROGRESSORS"/>
    {% include "include/common_meta_tags.html" %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/techblog/css/pages/articles.css" />
    <link rel="stylesheet" href="/static/pygments/css/default.css" />
{#    <link rel="stylesheet" href="/static/pygments/css/highlight_native.css" />#}
{% endblock css %}

{% block script %}
    <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script type="text/javascript" src="http://platform.linkedin.com/in.js"></script>
{% endblock %}


{% block content %}
    <div class="article-list">
        {% if article_list %}
            {% if author %}
                {% ifequal author user %}
                    <h1>Ваши статьи.</h1>
                {% else %}
                    <h1>Статьи написаные пользователем {{  author.first_name|capfirst }} {{ user.last_name|capfirst }}.</h1>
                {% endifequal %}
            {% else %}
                <h1>Все статьи</h1>
            {% endif %}

            {% if tags %}
                <h1>Теги: {{ tags }}.</h1>
            {% endif %}

            {% for article in article_list %}
                {% include 'articles/article_item.html' %}
            {% endfor %}


            {% for article in preview_articles %}
               <div> <a href="/articles/{{ article.id }}/"> {{ article }} </a> </div>
            {% endfor %}

            <br/><br/>
            <a href="/{% if own %}?own={{ own }}&page={{ next_page }}{% else %}?page={{ next_page }}{% endif %}"> Предыдущие статьи </a>



        {% else %}
            Не найдено ни одной статьи.
        {% endif %}
    </div>
    <div class="control-panel">
        {% if request.user.is_authenticated %}
            <h3>Моё</h3>
            <ul class="categories">
                <li class="{% if own_articles %}selected{% endif %}">
                    <div class="button"></div>
                    <a href="?own=articles">Статьи ({{ category.count }})</a>
                </li>
                <li class="{% if own_drafts %}selected{% endif %}">
                    <div class="button"></div>
                    <a href="?own=drafts">Черновики ({{ category.count }})</a>
                </li>
            </ul>
        {% endif %}

        <h3>Категории</h3>
        <ul class="categories">
            {% for category in categories %}
                <li class="{% if category.selected %}selected{% endif %} {% if category.disabled %}disabled{% endif %}">
                    <div class="button"></div>
                    <a href="?category={{ category.slug }}">{{ category.title }} ({{ category.count }})</a>
                </li>
            {% endfor %}
        </ul>

        <h3>Теги</h3>
        <div class="tag-cloud">
            {% for tag in tag_cloud %}
                <a href="?tags={{ tag.slug }}" class="{% if tag.selected %}selected{% endif %} {% if tag.disabled %}disabled{% endif %}">
                    {{ tag.name }} ({{ tag.count }})
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="clear"></div>
{% endblock content %}