{% load user_avatar %}

{% load threadedcomments_tags %}

{% get_comment_list for article as comment_list %}


{% for comment in comment_list|fill_tree|annotate_tree %}

    {% ifchanged comment.parent_id %}{% else %}
        </li>
    {% endifchanged %}

    {% if not comment.open and not comment.close %}
        </li>
    {% endif %}

    {% if comment.open %}
        <ul style="padding-left: 20px">
    {% endif %}

<li{% if comment.last %} class="last"{% endif %}>

    <div>
        <br/>
        <a name="reply_to_{{ comment.id }}"></a>
        
        <div style="color: #228b22;">
            {% user_avatar comment.user 16 %}
            {{ comment.user.username }}
        </div>
        <div style="color: #daa520;"> {{ comment.submit_date }} </div>
        <div>{{ comment.comment }}</div>

        <a class='showCommentLink' href="#comment_{{ comment.id }}"> Ответить </a>
        <div id="comment_{{ comment.id }}" style="display: none;">
            {% include 'articles/comment_form.html' %}
        </div>
    </div>

    {% for close in comment.close %}
        </li>
        </ul>
    {% endfor %}

{% endfor %}
