{% load threadedcomments_tags %}

{% get_comment_form for article as form %}

<form class="comment-form" action="/comments/post/" method="post">
    {% csrf_token %}

    {{ form.comment }}

    {% for field in form %}
        {% if field.is_hidden and field.name != 'parent' %}
            {{ field }}
        {% endif %}
    {% endfor %}

    {% if comment %}
        <input type="hidden" name="parent" id="id_parent" value="{{ comment.id }}"/>
        <input type="hidden" name="next" id="id_next" value="/articles/{{ article.id }}/#reply_to_{{ comment.id }}"/>
    {% else %}
        <input type="hidden" name="next" id="id_next" value="/articles/{{ article.id }}/#last_comnent"/>
    {% endif %}

    <p class="submit">
        <input type="submit" name="post" class="submit-post" value="Комментировать"/>
    </p>
</form>

{% comment %}

<h1 class="big-form-title">Комментировать</h1>
<form action="/comments/post/" method="post" class="big-form">
    {% csrf_token %}

    {% for field in form %}
        {% if field.name == 'comment' %}
            <dt>{{ field.label_tag }}</dt>
            <dd>
                {{ field }}
                {% if field.help_text %}
                    <div class="hint">{{ field.help_text }}</div>
                {% endif %}
                {% if field.errors %}
                    <div class="myerrors">{{ field.errors }}</div>
                {% endif %}
            </dd>
        {% endif %}
        {% if field.is_hidden and field.name != 'parent' %}
            <dt>{{ field.label_tag }}</dt>
            <dd>
                {{ field }}
                {% if field.help_text %}
                    <div class="hint">{{ field.help_text }}</div>
                {% endif %}
                {% if field.errors %}
                    <div class="myerrors">{{ field.errors }}</div>
                {% endif %}
            </dd>
        {% endif %}
    {% endfor %}

    <input type="hidden" name="parent" id="id_parent" value="{{ comment.id }}"/>
    <input type="hidden" name="next" id="id_next" value="/articles/{{ article.id }}/#reply_to_{{ comment.id }}"/>

    <p class="submit">
        <input type="submit" name="post" class="submit-form" value="Комментировать"/>
    </p>
</form>
{% endcomment %}
