{% load user_avatar update_filters %}

<div class="control-panel">

    {% if current_filters %}
        <div class="current-filters">
            <h3>Selected</h3>
            <a class="all" href=".">Clear all</a>

            <div class="clear"></div>
            <ul class="filters-list">
                {% for curr_filter in current_filters %}

                    <li class="remove-filter">
                        <div class="remove-filter-img">
                            <a href="/articles/{% remove_filter the_filter curr_filter.name curr_filter.value curr_filter.slug  %}">
                                <img width="18" height="18" src="/static/techblog/img/common/cross-icon.png"/>
                            </a>
                        </div>
                        <div class="remove-filter-link">
                            <a href="/articles/{% remove_filter the_filter curr_filter.name curr_filter.value curr_filter.slug  %}">
                                {{ curr_filter.value }}
                            </a>
                        </div>
                        </a>
                    </li>

                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if request.user.is_authenticated %}
        <div class="filter">
            <h3>My</h3>
            <a class="all" href=".">all</a>
            <div class="clear"></div>
            <ul class="categories">
                    <li class="{% if own_articles %}selected{% endif %} {% if not own_articles_count %}disabled{% endif %}">
                        <div class="button"></div>
                        <a href="/articles/{% update_filters the_filter own="articles" all_category=1 all_tags=1 %}">Articles ({{ own_articles_count }})</a>
                    </li>
                    <li class="{% if own_drafts %}selected{% endif %} {% if not own_drafts_count %}disabled{% endif %}">
                        <div class="button"></div>
                        <a href="/articles/{% update_filters the_filter own="drafts" all_category=1 all_tags=1 %}">Drafts ({{ own_drafts_count }})</a>
                    </li>
            </ul>
        </div>
        <div class="clear"></div>
    {% endif %}

    {% if selected_author %}
        <div class="filter">
            <h3>Author</h3>
            <a class="all" href="/articles/{% update_filters the_filter all_author=1 %}">all</a>
            <div class="clear"></div>

            {% with selected_author as user %}
                <div class="author">
                    <div class="author-photo">
                        <a href="/users/{{ user.username }}/">{% user_avatar user 64 %}</a>
                    </div>
                    <a class="title" href="/users/{{ user.username }}/">{{ user.username }}</a>
                </div>
            {% endwith %}
        </div>
        <div class="clear"></div>
    {% endif %}

    <div class="filter">
        <h3>Categories</h3>
        <a class="all" href="/articles/{% update_filters the_filter all_category=1 %}">all</a>
        <div class="clear"></div>

        <ul class="categories">
            {% for category in categories %}
                {% if category.disabled %}
{#                    <li class="disabled">#}
{#                        <div class="button"></div>#}
{#                        <a href="/articles/{% update_filters the_filter category=category.slug all_tags=1 %}">{{ category.title }} ({{ category.count }})</a>#}
{#                    </li>#}
                {% else %}
                    <li class="{% if category.selected %}selected{% endif %}">
                        <div class="button"></div>
                        <a href="/articles/{% update_filters the_filter category=category.slug %}">{{ category.title }} ({{ category.count }})</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="clear"></div>

    <div class="filter">
        <h3>Tags</h3>
        <a class="all" href="/articles/{% update_filters the_filter all_tags=1 %}">all</a>
        <div class="clear"></div>
        <div class="tag-cloud">
            {% for tag in tag_cloud %}
                {% if tag.disabled %}
{#                    <a href="#" class="disabled">#}
{#                        {{ tag.name }} ({{ tag.count }})#}
{#                    </a>#}
                {% else %}
                 <a href="/articles/{% update_filters the_filter tag=tag.slug %}" class="{% if tag.selected %}selected{% endif %}">
                        {{ tag.name }} ({{ tag.count }})
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>