{% extends 'abstract/base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/techblog/css/big_forms.css"/>
    <link rel="stylesheet" href="/static/techblog/css/pages/add_or_edit_article.css"/>
    <link rel="stylesheet" href="/static/pygments/css/highlight_native.css"/>
{% endblock css %}

{% block media %}
    {{ form.media }}
{% endblock media %}

{% block content %}
    {% if user.is_authenticated %}
        <h1 class="big-form-title">Перевод</h1>

        {% include 'articles/article_edit_form.html' %}

    {% else %}
        <h1 class="big-form-title">Авторизуйтесь</h1>
        <div class="big-form-text">
            Вы не авторизованы и не можете работать со статьями. <a href="{% url auth_login %}">Войдите</a> и получите
            эти права.
        </div>
    {% endif %}
{% endblock content %}