.main-menu {
    text-align: center;
    padding: 10px 0 10px;
}

.main-menu a {
    display: inline-block;
    margin: 0 8px;
    color: #2173fc;
    font-size: 24px;
    font-family: /*FuroreRegular,*/Tahoma,sans-serif;
    text-shadow: 1px 1px 0 black;
}

.main-menu .selected {
    background: orange;
    color: white;
    text-shadow: none;
    padding: 2px 10px 5px 10px;
    border: 2px solid white;
    box-shadow: 0px 0px 5px 1px white;
    border-radius: 10px 10px 10px 10px;
    text-decoration: none;
}