{% extends "abstract/base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/techblog/css/big_forms.css" />
{% endblock css %}

{% block content %}
<h1 class="big-form-title">Login</h1>

{% if user.is_authenticated %}

    <div class="big-form-text">
        What's up, {{ user.username }}? You're already logged in.
        However, you can always <a href="{% url auth_logout %}?next=/">logout</a>.
    </div>

{% else %}

    <form method="post" class="big-form">
        {% csrf_token %}
        <input type="hidden" name="next" value="{% firstof next '/' %}" />
        {% if form.non_field_errors %}
            <span class="myerrors">{{ form.non_field_errors }}</span>
        {% endif %}
        <dl>
            {% for field in form %}
                <dt>{{ field.label_tag }}</dt>
                <dd>
                    {{ field }}
                    {% if field.help_text %}
                        <div class="hint">{{ field.help_text }}</div>
                    {% endif %}
                    {% if field.errors %}
                        <div class="myerrors">{{ field.errors }}</div>
                    {% endif %}
                </dd>
            {% endfor %}
        </dl>
        <input type="submit" class="submit-form" value="Login" />
    </form>

    <script type="text/javascript">
        // < ![CDATA[
        (function(){ var u = document.getElementById('id_username'); if (u) u.focus(); })();
        // ]]>
    </script>

{% endif %}

{% comment %}<ul>
	<li><a href="{% url auth_password_reset %}">Remind password</a></li>
	<li><a href="{% url registration_register %}">Registration</a></li>
</ul>{% endcomment %}

{% endblock %}







